@font-face {
    font-family: 'Millennium';
    src: url('Millennium-Bold.woff2') format('woff2'),
        url('Millennium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Millennium';
    src: url('Millennium-Italic.woff2') format('woff2'),
        url('Millennium-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Millennium';
    src: url('Millennium-Regular.woff2') format('woff2'),
        url('Millennium-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 20';
    src: url('Redaction20-Italic.woff2') format('woff2'),
        url('Redaction20-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 20';
    src: url('Redaction20-Regular.woff2') format('woff2'),
        url('Redaction20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('Redaction35-Bold.woff2') format('woff2'),
        url('Redaction35-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 20';
    src: url('Redaction20-Bold.woff2') format('woff2'),
        url('Redaction20-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('Redaction35-Regular.woff2') format('woff2'),
        url('Redaction35-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('Redaction50-Italic.woff2') format('woff2'),
        url('Redaction50-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('Redaction35-Italic.woff2') format('woff2'),
        url('Redaction35-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('Redaction50-Bold.woff2') format('woff2'),
        url('Redaction50-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 70';
    src: url('Redaction70-Regular.woff2') format('woff2'),
        url('Redaction70-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 70';
    src: url('Redaction70-Italic.woff2') format('woff2'),
        url('Redaction70-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 70';
    src: url('Redaction70-Bold.woff2') format('woff2'),
        url('Redaction70-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('Redaction50-Regular.woff2') format('woff2'),
        url('Redaction50-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 100';
    src: url('Redaction100-Bold.woff2') format('woff2'),
        url('Redaction100-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Regular.woff2') format('woff2'),
        url('Redaction-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 100';
    src: url('Redaction100-Italic.woff2') format('woff2'),
        url('Redaction100-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Bold.woff2') format('woff2'),
        url('Redaction-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 100';
    src: url('Redaction100-Regular.woff2') format('woff2'),
        url('Redaction100-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Italic.woff2') format('woff2'),
        url('Redaction-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 10';
    src: url('Redaction10-Bold.woff2') format('woff2'),
        url('Redaction10-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 10';
    src: url('Redaction10-Regular.woff2') format('woff2'),
        url('Redaction10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 10';
    src: url('Redaction10-Italic.woff2') format('woff2'),
        url('Redaction10-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

